/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 *
 * For simplicity, no reset or normalize is added.
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
body {
    background: #FFDEAD;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #000;
}



/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    text-align: center;
    margin: 2em 1rem;
    color: white;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #2F4F4F;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #000;
}

p {
    line-height: 1.6em;
    color: #000;
}


@media (max-width: 500px){
    h2 {
        font-size: 1.1em;
    }
    p{
      font-size: .9em;
    }
}



/* ---- Layout Rules ---- */
main {
}

.main__hero {
    min-height: 100vh;
    padding-top: 3em;
    width: 100%;
    background-image: url('https://images.pexels.com/photos/6037879/pexels-photo-6037879.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */
.landing__container {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

}

.hero-images{

}


.text {
	/*padding: 1em;*/
	max-width: 45%;
	flex-basis: 2;
}

.image{
	max-width: 50%;
	height: auto;
	/*padding: 1em;*/
	flex-basis: 1;
}

.image img {
	width: 75%;
}


/*Contact Form */
#section4 .text {
  width: 75%;
}

form .response{
  width: 100%;
  padding: 10px;
  margin: 8px;
}

#submit-button{
  padding: 15px 35px;
}




/* Navigation Styles*/
.active-nav{
  border-bottom: 5px solid #CD853F;
  color: #fff;
  font-weight: bold;
}

.navbar__menu ul {
  display: flex;
  justify-content: space-around;
    /*text-align: right;*/
}

.navbar__menu li {

    padding: 20px;
    /*color: blue;*/
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
  border-bottom: 5px solid #CD853F;
    color: #000;
    transition: ease 0.3s all;
    cursor: pointer;
}

@media (max-width: 500px) {

		.navbar__menu ul {
				font-size: 0.8em;
		    /*text-align: right;*/
		}
}

/* Header Styles */
.page__header {
    background: #FFFAFA;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #fff;
    padding: .75em;
    text-align: center;

}

.page__footer p{
    color: #000;
}

.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: block;
    width: 2.5em;
    margin-right: 1.25em;

}

.fab.hide {
    display: none;
}



/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {

    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        /*max-width: 50em;*/
        padding: 5.5em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}



/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
/*
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}
*/

/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0 0 6px 0 rgba(100, 100, 100, .15);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
/*
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em)
		           rotate(-360deg);
	}
}
*/
